html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline;  /*font: inherit; */
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body { line-height: 1; }
ol, ul { list-style: none; }

html { height: 100%; margin-bottom: 1px; overflow-y: scroll;}

@font-face {
    font-family: 'polyitalic';
    src: url('/_resources/themes/sybeha/webfonts/poly-italic-webfont.eot');
    src: url('/_resources/themes/sybeha/webfonts/poly-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_resources/themes/sybeha/webfonts/poly-italic-webfont.woff') format('woff'),
         url('/_resources/themes/sybeha/webfonts/poly-italic-webfont.ttf') format('truetype'),
         url('/_resources/themes/sybeha/webfonts/poly-italic-webfont.svg#polyitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, strong, p, h5, h6{ font-weight: normal; }
h1{font: 2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-weight: 700;}
h2, h3, body{font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}
h2{ font-size: 1.5em; padding-bottom: 20px; }
h2{ font-family: 'polyitalic'; }
body{ font-size: 0.8em; line-height: 22px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
p{ margin-bottom: 15px;	 }

/*a{ text-decoration: none; }*/

.bottom sub {
	font-size: 75%;
	position: absolute;
    bottom:0;
    left:0;
	vertical-align: text-bottom; }

.tab-container, .copyright{
	opacity: 0;
}

/* TEMPLATE */
.clears{ clear: both; }
.hide {	display: none!important; }
.tab-container:before, .tab-container:after{ content: ""; display: block; width: 100%; height: 300px; position: absolute; left: 0px; z-index: 0; }
.tab-container:before{ top: -25px; }
.tab-container:after{ bottom: -65px; }
.headshot{ float: left; display: block; position: relative; z-index: 2; }
.headshot img{ /*position: absolute; padding: 4px; top: -3px;*/ }
.headshot h1, .headshot h4{ margin-left: 60px; }
.leftColumn{ display: inline-block; width: 340px; padding-right: 40px; vertical-align: top; }
.rightColumn{ display: inline-block; width: 220px; vertical-align: top; padding-left: 30px; margin-left: -5px; }

.details li{  margin-bottom: 12px; line-height: 18px; position: relative; font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-weight: 700;}
.details li div{ font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-style: italic; font-weight: normal; font-size: 1em; }
.star1:after, .star2:after, .star3:after, .star4:after, .star5:after{ content: ""; display: block; width: 59px; height: 12px; position: absolute; top: 3px; right: -20px; }
.star1:after{ background-position: 0px 0px; }
.star2:after{ background-position: 0px -12px; }
.star3:after{ background-position: 0px -24px; }
.star4:after{ background-position: 0px -36px; }
.star5:after{ background-position: 0px -48px; }
.socialBtns li{ float: left; padding-top: 20px; }
.socialBtns li a{ display: block; height: 27px; width: 27px; margin: 4px; text-indent: -9999px; opacity: 1;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.socialBtns li a:hover{ opacity: .5;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}
.socialBtns li a.facebook{ background-position: 0 0; }
.socialBtns li a.twitter{ background-position: -31px 0; }
.socialBtns li a.linkedIn{ background-position: -62px 0; }
.socialBtns li a.pintrest{ background-position: -93px 0; }
.socialBtns li a.dribbble{ background-position: -124px 0; }
.socialBtns li a.vimeo{ background-position: -155px 0; }
.socialBtns li a.plus{ background-position: -186px 0; }
.socialBtns li a.youtube{ background-position: -217px 0; }
.socialBtns li a.flickr{ background-position: -248px 0; }
.socialBtns li a.email{ background-position: -279px 0; }
.socialBtns li a.xing{ background-image: url(/_resources/themes/sybeha/images/clean/xing.png); }

.download{ margin-top: 25px;  padding: 3px 20px 3px 10px!important; font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-weight: 700; }
.download img{ padding-right: 5px; position: relative; top: 3px; }
.phone, .address, .postal{ padding-left: 30px; position: relative; }
.phone:before, .address:before, .postal:before{ content: ""; width: 20px; display: block; height: 24px; position: absolute; left: 0px; top: 5px; }
.address:before{ background-position: 0px -33px!important; }
.postal:before{ background-position: 0px -64px!important;	 }
.copyright{ text-align: center; font-size: 11px; position: relative;
}



/* DEFAULT TAB STYLES */
.etabs { margin: 0 20px 0 0; padding: 0; float: right; position: relative; z-index: 2; }
.tab { display: inline-block; zoom:1; *display:inline;  }
.tab a { font-size: 12px; line-height: 2em; display: block; outline: none; padding: 0px 15px; font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}
.tab.active { position: relative; top: 0px;  }
.tab-container{ width: 650px; padding: 30px; position: relative; margin: 10% auto 20px; }
.tab-container .panel-container { clear: both; margin-bottom: 10px; padding-top: 10px; width: 650px; position: relative; z-index: 2;}



/* SLIDER STYLES*/
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{display:none;position:absolute;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ol.bjqs-markers{list-style:none;margin:0;padding:0;z-index:9999; text-align: center; }
ol.bjqs-markers li{ margin:0 3px; display: inline-block; }
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
#banner { height:350px; width:650px; margin:0 auto; position:relative; }
ol.bjqs-markers li a{ display:block; height:10px; width:10px; overflow:hidden; text-indent:-9999px;}



/* THUMBNAIL HOVER STYLE */
.mosaic-block { float: left; position:relative; overflow:hidden; width:195px; height:89px; margin:5px; padding: 4px; background: url(/_resources/themes/sybeha/images/loading.gif) no-repeat center center; }
.mosaic-backdrop { display:none; position:absolute; top:4px; height:100%; width:100%; }
.mosaic-overlay { display:none; z-index:5; position:absolute; width:100%; height:100%; }
.circle .mosaic-overlay { opacity:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)"; filter:alpha(opacity=00); display:none; background:url(/_resources/themes/sybeha/images/hover-magnify.png) no-repeat center center;}



/* FORMS */
input, textarea{ font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; padding: 4px 8px; margin-bottom: 10px; }
input[type="text"],input[type="email"] { border: none; padding: 5px 10px; width: 338px; height: 31px; outline: none; }
textarea{ border: none; padding: 5px 10px; width: 338px; outline: none;	resize: none;height: 101px; }
.error[generated=true] { font-size: 11px; }
.success:before{ content: "“"; display: block; position: absolute; left: 0px; top: 2px; font: 36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-weight: 700;}
#response .success { position: relative; padding-left: 25px; }
#Form_ContactForm .btn, #contactform .btn{
	font-weight: 700;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

